* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#d3-wrapper {
  width: 100vw;
  height: 100vh;
}

.roles-title {
  font-size: 1.5rem;
  fill: #000000;
}

.tick {
  font-size: 0.7rem;
  fill: #000000;
  line {
    stroke: #bbbbbb;
    stroke-width: 0.5;
  }
}

line.separator {
  stroke: #000000;
  stroke-width: 3;
}